<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta FIPE</title>
</head>

<body>

    <form method="get" action="/modelos">
        <label for="marca">Escola a marca:</label>

        <select name="marca" id="marca">

            <% marcas.forEach(element=> { %>
                <option value="<%=element.nome%>">
                    <%=element.nome%>
                </option>
                <% }) %>
        </select>


        <select name="modelo" id="modelo">

            <option value=""></option>

        </select>

        <select name="ano" id="ano">

            <option value=""></option>

        </select>

    </form>






    <script>
        const marcaSelect = document.getElementById("marca");
        const modeloSelect = document.getElementById("modelo");
        const anoSelect = document.getElementById("ano");
        let marcas = null;
        let modelos = null;
        let objMarca;

        window.addEventListener("load", async (event) => {
            try {
                const response = await fetch(`https://parallelum.com.br/fipe/api/v1/carros/marcas`);
                marcas = await response.json();
            } catch (error) {
                console.log("Erro ao buscar marcas: " + error);
            }
        });


        marcaSelect.addEventListener("change", async () => {
            try {
                const marcaSelected = marcaSelect.value;
                objMarca = marcas.find(e => e.nome === marcaSelected);
                const response = await fetch(`https://parallelum.com.br/fipe/api/v1/carros/marcas/${objMarca.codigo}/modelos`);
                modelos = await response.json();

               // console.log(modelos);
                while (modeloSelect.firstChild) {
                    modeloSelect.removeChild(modeloSelect.firstChild);
                }
                modelos.modelos.forEach(m => {
                    const optModelo = document.createElement("option");
                    optModelo.textContent = m.nome;
                    modeloSelect.appendChild(optModelo);
                });
            } catch (error) {
                console.error("Error fetching models:", error.message);
                resultDiv.innerHTML = "Error fetching models: " + error.message;
            }
        });


        modeloSelect.addEventListener("change", async () => {
            try {

                let codigoModelo = modelos.modelos.find(m => m.nome === modeloSelect.value).codigo;

                const response = await fetch(`https://parallelum.com.br/fipe/api/v1/carros/marcas/${objMarca.codigo}/modelos/${codigoModelo}/anos`);
                const anos = await response.json();

                console.log(anos);
                while (anoSelect.firstChild) {
                    anoSelect.removeChild(anoSelect.firstChild);
                }
                anos.forEach(a => {
                    const optAno = document.createElement("option");
                    optAno.textContent = a.nome;
                    anoSelect.appendChild(optAno);
                }); 
            } catch (error) {
                console.error("Error fetching models:", error.message);
                resultDiv.innerHTML = "Error fetching models: " + error.message;
            }
        });

    </script>

</body>

</html>